
.h1{
    
    font-family:cursive;
    
    
    
}

.h2{
    font-family; 
    
    
}
#zenitsu{
    
    height: 650;
    
    
    
}
#desc{
    
    text-align: center;
    
    
}

body{
    
    background-color: darkorange;
    
}